// fonts
@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
$base-fonts: Helvetica Neue,
sans-serif;
$heading-font: Racing Sans One,
sans-serif;
// colors
$primary-color: #00caff;
$secondary-color: hotpink;
$bg-color: #222;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background: $bg-color;
  color: $primary-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: $base-fonts;
}

h1 {
  color: $secondary-color;
  & strong {
    color: $primary-color;
  }
  font-family: $heading-font;
  font-weight: 100;
  font-size: 4.2em;
  text-align: center;
}


button {
  background: $bg-color;
  border-radius: 0px;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-weight: 100;
  outline: none;
  padding: 5px;
  margin: 0;
  &:hover,
  &:disabled {
    background: $primary-color;
    color: #111;
  }
  &:active {
    outline: 2px solid $primary-color;
  }
  &:focus {
    border: 1px solid $primary-color;
  }
}

.square {
  border-radius: 0px;
  border: 1px solid $primary-color;
  color: $secondary-color;
  background: $primary-color;
  font-size: 36px;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.empty {
  background: $bg-color;
}

.row {
  display: flex;
  flex-direction: columns;
}